.card {
  background-color: white;
  width: 18rem;
  height: 28rem;
  border-radius: 10px;
  margin: 4rem;
  transition: 200ms;
  display: flex;
  flex-direction: column;
  color: white;
}

.card > div > img {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card > h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #3f3f3f;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.card:hover {
  transform: scale(1.03);
}

.card > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  font-weight: 700;
}

.card-color {
  border-radius: 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-link {
  display: block;
  width: 8rem;
  height: 1.75rem;
  text-align: center;
  border-radius: 15px;
  transition: 250ms;
  box-shadow: 0px 0px 13px 4px #0808082b;
}

.card-link:hover {
  transform: scale(1.08);
  box-shadow: 0px 0px 13px 4px #08080855;
}

.card-link:active{
  opacity: 0.8;
}
