

.navbar{
    background-color: #0d0f24;
    padding: 2rem;
    display: flex;
}

.navbar > ul{
    display: flex;
}

.navbar > ul > li > a:hover{
    text-underline-offset: 8px;
    text-decoration: underline;
    color: #9affbd;
}

.nav-icon-container{
    margin-right: auto;
}

.nav-icon{
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    color: #000000;
    background-color: #ffffff; /* Slightly lighter grey for contrast */
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    font-weight: 700;
}

.nav-list{

}

.nav-item{
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 1.5rem;
}





