
.showcase-section{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

.showcase-section > div > img{
    margin-top: 5rem;
    max-width: 100%;
    height: auto;
    border-radius: 14px;
}

.showcase-section > h2{
    text-align: center;
    width: 40%; 
    margin-bottom: 10rem;  
}

.showcase-section > h1{
    text-align: center;
    width: 80%;   
}

.cards-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30rem;
    color: black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.flashcard-section{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

footer {
  text-align: center;
  margin-bottom: 1rem;
}